---
layout: default
contentClass: page
---

<section class="app">
  <h1 class="app__heading">Mageworx Help center</h1>
  <h2 class="app__name">{{ appTitle }}</h2>

  {% include search %}
  {% include breadcrumbs %}
  {% include toc with tags %}
  {% include support-banner %}
</section>