<header class="header embedded-hidden">
  <div class="header__wrapper">
    <div class="header__logo">
      <a href="/" class="header__logo-link">
        {% assign size = "158, 44" | split: ', ' %}
        {% icon 'mageworx', '', size %}
      </a>
    </div>
    <div class="header__text">Help Center</div>
    <nav class="header__nav">
      <div class="header__nav-item">
        <a href="https://mageworx.zendesk.com/hc/en-us/requests/new" class="button button--inverted button--outline">Contact Support</a>
      </div>
    </nav>
  </div>
</header>
