<div class="search" role="search">
  <label for="search" class="search__label">Search Help Center</label>
  <input type="text" class="search__input" placeholder="Search" id="search" />
  <button type="submit" class="search__button" tabindex="0">
    <span class="visually-hidden">Search</span>
    {% icon 'search', '', 20 %}
  </button>
  <div class="search__backdrop"></div>
</div>
