<section class="support-banner">
  <h1 class="support-banner__heading">
    Didn't find the answers you were looking for? We’ll be happy to help
  </h1>
  <div class="support-banner__button">
    <a href="https://mageworx.zendesk.com/hc/en-us/requests/new" class="button">Contact Mageworx Support</a>
  </div>
</section>
