.breadcrumbs {
  margin-bottom: rem(45px);

  $this: &;

  &__list {
    margin: 0;
    margin-top: rem(-10px);
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    margin-top: rem(10px);

    &:not(:last-child) {
      &::after {
        content: ' / ';
        display: inline-block;
        padding: 0 rem(7px);
        color: var(--subdued-color);
        font-weight: var(--font-weight-bold);
      }
    }
  }

  &__link,
  &__link:link {
    color: var(--subdued-color);
    text-decoration: none;
    font-weight: var(--font-weight-bold);
  }
}
