.breadcrumbs {
  margin-bottom: rem(44px);

  $this: &;

  &__list {
    margin: 0;
    margin-top: rem(-10px);
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    margin-top: rem(10px);
    margin-bottom: 0;

    &:not(:last-child) {
      &::after {
        content: ' / ';
        display: inline-block;
        padding: 0 rem(7px);
        color: var(--subdued-color);
        font-weight: var(--font-weight-bold);
      }

      #{$this}__link {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__link,
  &__link:link {
    color: var(--subdued-color);
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    white-space: nowrap;

    &:hover {
      color: var(--subdued-color);
    }
  }
}
