@function em($font-size, $base: 10px) {
  @return $font-size / $base * 1em;
}

@function rem($font-size, $base: 10px) {
  @return $font-size / $base * 1rem;
}

@mixin screen-lg {
  @media (min-width: em($screen-lg-min, 16px)) {
    @content;
  }
}

@mixin screen-md {
  @media (min-width: em($screen-md-min, 16px)) {
    @content;
  }
}

@mixin screen-sm {
  @media (min-width: em($screen-sm-min, 16px)) {
    @content;
  }
}

@mixin screen-xs {
  @media (min-width: em($screen-xs-min, 16px)) {
    @content;
  }
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
