h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-family: var(--body-font-family);
  font-weight: var(--font-weight-normal);
  font-size: 1em;
  line-height: 1.5;
}

h1 {
  font-family: var(--heading-font-family);
  font-size: rem(32px);
  line-height: rem(48px);
  margin-bottom: rem(5px);

  @include screen-sm {
    font-size: rem(48px);
    line-height: rem(56px);
  }
}

h2,
h3 {
  font-size: rem(24px);
  line-height: rem(28px);
  margin-top: rem(30px);
  margin-bottom: rem(16px);

  @include screen-sm {
    font-size: rem(28px);
    line-height: rem(32px);
    margin-top: rem(34px);
    margin-bottom: rem(16px);
  }
}

h4,
h5,
p,
ul,
ol {
  font-size: rem(16px);
  line-height: rem(24px);
  margin-top: rem(8px);
  margin-bottom: rem(8px);
}

li {
  margin-bottom: rem(8px);
}

a,
a:link {
  color: var(--interactive-color);
  text-decoration: none;

  &:hover {
    color: var(--interactive-hovered);
  }
}
