$scale-factor: 1.73;
$base-font-size: 16px;
$line-height-ratio: 1.5;

@mixin typography($ratio: 1, $scale: $scale-factor, $media-scale: 1) {
  $font-size: $base-font-size * $scale * $ratio;
  $line-height: $font-size * $line-height-ratio;
  $margin-bottom: $base-font-size * $line-height-ratio;

  font-size: rem($font-size * $media-scale);
  line-height: rem($line-height * $media-scale);
  margin-bottom: rem($margin-bottom * $media-scale);

  @include screen-sm {
    font-size: rem($font-size);
    line-height: rem($line-height);
    margin-bottom: rem($margin-bottom);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: 1em;
  line-height: 1.2;
  font-weight: var(--font-weight-normal);
}

h1 {
  font-family: var(--heading-font-family);
  @include typography(2, $scale-factor, 0.8);
}

h2,
h3 {
  @include typography(1, $scale-factor, 0.8);
}

h4,
h5,
p,
ul,
ol {
  @include typography(1, 1, 1);
}

a,
a:link {
  color: var(--interactive-color);
  text-decoration: underline;

  &:hover {
    color: var(--interactive-hovered);
    text-decoration: none;
  }
}
