---
layout: default
title: Choose your Shopify App
eleventyNavigation:
  key: help-center
  title: Mageworx Help Center
---

<section class="main">
  <h1 class="main__heading">Mageworx Help Center</h1>
  <h2 class="main__subheading">Choose your Shopify App</h2>
  <div class="app-cards">
    {% for app in site.apps %}
      <a href="{{ app.url }}" class="app-card">
        <div class="app-card__icon">
          {% icon app.icon, '', 40 %}
        </div>
        <div class="app-card__title">
          {{ app.title }}
        </div>
      </a>
    {% endfor %}
  </div>
</section>
