html,
body {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
  text-transform: initial;
  letter-spacing: initial;
  font-weight: 400;
  color: var(--p-text);
}

html {
  position: relative;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--background-color, $color-background);
  font-family: Inter, Helvetica, Arial, Lucida Grande, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
